@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

$banner-bg: #111;
$primary-color: #37d72f;
$white-color: #ffffff;
$fb-color: #3b5998;
$twitter-color: #00acee;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  --swiper-theme-color: #fff;
}

body {
  overflow: hidden;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  padding: 1rem 2rem;
  overflow: hidden;
  .logo {
    position: relative;
    font-size: 2rem;
    color: $white-color;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: none;

    span {
      color: $primary-color;
    }
  }
  .toggle {
    height: 60px;
    width: 60px;
    position: relative;
    cursor: pointer;

    .bar {
      &-one {
        position: absolute;
        content: "";
        top: 20px;
        width: 100%;
        height: 5px;
        background-color: $white-color;
      }
      &-two {
        position: absolute;
        content: "";
        top: 30px;
        width: 100%;
        height: 5px;
        background-color: $white-color;
      }
      &-three {
        position: absolute;
        content: "";
        top: 40px;
        width: 100%;
        height: 5px;
        background-color: $white-color;
      }
    }
  }
  .toggle-close {
    height: 60px;
    width: 60px;
    position: relative;
    cursor: pointer;
    .bar {
      &-one {
        top: 30px;
        transform: rotate(45deg);
      }
      &-two {
        display: none;
      }
      &-three {
        top: 30px;
        transform: rotate(-45deg);
      }
    }
  }
}
#navigation {
  position: absolute;
  top: 9;
  right: 0;
  height: 100vh;
  width: 100vw;
  max-width: 430px;
  background: $banner-bg;
  z-index: 100;
  transform: translateX(1000px);
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    li {
      flex: 1;
      width: 100%;

      a {
        text-decoration: none;
        font-size: 2rem;
        color: $white-color;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &:hover {
        background-color: lighten($banner-bg, 10%);
        cursor: pointer;
      }
    }
  }
}
.menu-slide-in {
  animation: slide-in 1s ease-in-out forwards;
}
.menu-slide-out {
  animation: slide-out 0.5s ease-in-out forwards;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0 2rem;
  background: $banner-bg;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;

  .content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
    &-home {
      .text-box {
        flex: 1;
        margin: 0 auto;
        text-align: center;
        z-index: 2;

        .content-text-box {
          max-width: 600px;
          margin: 0 auto;
          h2 {
            padding: 1rem;
            color: $white-color;
            font-size: 3rem;
          }
          p {
            color: $white-color;
            font-size: 2rem;
            margin: 2rem auto 3rem auto;
            z-index: 112;
          }
          a {
            display: block;
            width: 50%;
            margin: 0 auto;
            background: $white-color;
            color: $banner-bg;
            text-decoration: none;
            font-size: 1.8rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            padding: 1rem 1.5rem;
            transition: all 0.5s ease-in;
            &:hover {
              transform: scale(1.1);
              transition: all 1s ease-in;
            }
          }
        }
      }
      .img-box {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        z-index: 5;
        padding: 0;
        position: relative;
        img {
          position: absolute;
          bottom: 0;
          height: 90%;
        }
      }
    }
    &-group {
      width: 100%;
      height: 90%;
      margin-top: 92px;
      .swiper-container {
        // background: $banner-bg;
        width: 100%;
        height: 600px;

        .swiper-slide {
          text-align: center;
          font-size: 18px;
          margin: auto;
          /* Center slide text vertically */
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          height: 80%;

          .type-img {
            width: 100%;
            flex: 2;
            background-color: grey;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              max-height: auto;
              width: auto;
              transform: scale(0.6);
              transition: all 0.3s linear;
              &:hover {
                transition: all 0.3s linear;
                transform: scale(0.5);
              }
            }
          }
          .type-footer {
            flex: 1;
            width: 100%;
            background-color: white;
            border: 1px solid white;
            .type-name {
              padding: 1rem;
              font-size: 2rem;
            }
            .reservation-anchor {
              display: block;
              margin: 0 auto;
              width: 50%;
              height: 4rem;
              border: 1px solid black;
              padding: 0.8rem;
              text-decoration: none;
              color: black;
              font-size: 1.5rem;
              position: relative;
              overflow: hidden;

              .reservation-paragraf {
                position: absolute;
                top: 50%;
                left: 50%;

                transform: translate(-50%, -50%);
              }
              .arrow-right {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-200px, -50%);
              }
              &:hover {
                .reservation-paragraf {
                  animation: slide-up 0.3s linear forwards;
                }
                .arrow-right {
                  animation: slide-right 0.3s linear forwards;
                }
              }
            }
          }
        }
        .swiper-pagination {
          
          .swiper-pagination-bullet {
            width: 22px;
            height: 22px;
            background: #fff;
          }
        }
      }
    }
    &-personal {
      height: 100%;
      border: 1px solid red;
    }
  }

  &:before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 375px;
    height: 100%;
    background: $primary-color;
    transform-origin: top;
    transform: skewX(-25deg);
    z-index: 1;
  }
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.15;
    pointer-events: none;
  }
}
.social {
  position: absolute;
  left: 50%;
  bottom: 1rem;
  transform: translateX(-50%);
  z-index: 1000;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 300px;
    li {
      flex: 1;
      list-style: none;
      padding: 1rem;

      a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        text-decoration: none;
        color: $white-color;
        cursor: pointer;
        i {
          &:hover {
            &.facebook {
              color: $fb-color;
            }
            &.twitter {
              color: $twitter-color;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1500px) {
  header {
    padding: 20px 50px;
  }
  .container {
    padding: 1rem 1rem 0 1rem;
    flex-direction: column;
    &:before {
      transform: skweX(-25deg) translateX(50%);
    }
    .content {
      .text-box {
        h2 {
          font-size: 2rem;
          padding: 0.2rem;
        }
        p {
          font-size: 3rem;
        }
        a {
          padding: 1rem 0.6rem;
          font-size: 1rem;
        }
      }
    }
    .img-box {
      img {
        height: 100%;
      }
    }
  }
}
@media (max-width: 1024px) {
  body {
    overflow: hidden;
  }
  header {
    .logo {
      span {
        color: $white-color;
      }
    }
  }
  .navigation {
    width: 100%;
    ul {
      width: 100%;
    }
  }
  .container {
    min-height: 100vh;
    .content {
      flex-direction: column;

      .text-box {
        margin-top: 30%;
        padding: 2rem;
      }
    }
  }
}
@media (max-width: 500px) {
  .container {
    min-height: 100vh;
    .content {
      flex-direction: column;

      .text-box {
        margin-top: 30%;
        padding: 2rem;
        .content-text-box {
          h2 {
            font-size: 1.5rem;
          }
          p {
            font-size: 1rem;
          }
          a {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .container {
    min-height: 100vh;
    .content {
      flex-direction: column;

      .text-box {
        margin-top: 30%;
        padding: 0.5rem;
        .content-text-box {
          h2 {
            font-size: 1.5rem;
          }
          p {
            font-size: 1rem;
          }
          a {
            font-size: 1.2rem;
            padding: 0.6rem 1.2rem;
          }
        }
      }
    }
  }
}
@keyframes slide-in {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1000px);
  }
}
@keyframes slide-up {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, -250%);
  }
}
@keyframes slide-right {
  0% {
    transform: translate(-200px, -50%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
