@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

$banner-bg: #111;
$primary-color: #37d72f;
$white-color: #ffffff;
$white-bg-color: #ffffff;
$fb-color: #3b5998;
$twitter-color: #00acee;
$form-span-color: #111;
$form-border-input-color: #111;
$form-active-input-color: $primary-color;
$form-alert-error: #e25055;
$form-alert-success: #37d72f;
$modal-bg: rgba(0, 0, 0, 0.6);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  --swiper-theme-color: #fff;
}

body {
  position: relative;
  overflow-x: hidden;
  &.hidden {
    overflow-y: hidden;
  }
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 4;
  padding: 1rem 2rem;
  overflow: hidden;
  .logo {
    position: relative;
    font-size: 2rem;
    color: $white-color;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: none;

    span {
      color: $primary-color;
    }
  }
  .toggle {
    height: 60px;
    width: 60px;
    position: relative;
    cursor: pointer;

    .bar {
      &-one {
        position: absolute;
        content: "";
        top: 20px;
        width: 100%;
        height: 5px;
        background-color: $white-bg-color;
      }
      &-two {
        position: absolute;
        content: "";
        top: 30px;
        width: 100%;
        height: 5px;
        background-color: $white-bg-color;
      }
      &-three {
        position: absolute;
        content: "";
        top: 40px;
        width: 100%;
        height: 5px;
        background-color: $white-bg-color;
      }
    }
  }
  .toggle-close {
    height: 60px;
    width: 60px;
    position: relative;
    cursor: pointer;
    .bar {
      &-one {
        top: 30px;
        transform: rotate(45deg);
      }
      &-two {
        display: none;
      }
      &-three {
        top: 30px;
        transform: rotate(-45deg);
      }
    }
  }
}
.navigation {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  #rel {
    position: relative;
    width: 400px;
    height: 110vh;
    overflow: hidden;
    z-index: -1;
    display: none;

    ul {
      position: absolute;
      top: 0;
      left: 0;
      background-color: $banner-bg;
      width: 100%;
      height: 110vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      list-style: none;
      padding: 10rem 0;
      transform: translateX(10000px);
      z-index: 3;

      li {
        height: 15%;
        flex: 1;
        width: 100%;
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          text-decoration: none;
          font-size: 2rem;
          color: $white-color;
          padding: 1rem;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 3;
        }
        &:hover {
          background-color: lighten($banner-bg, 10%);
          cursor: pointer;
        }
      }
    }
    &.block {
      display: block;
    }
    .menu-slide-in {
      animation: slide-in 1s ease-in-out forwards;
    }
    .menu-slide-out {
      animation: slide-out 0.5s ease-in-out forwards;
    }
  }
}

.container {
  width: 100vw;
  height: 100vh;
  min-height: 1100px;
  background: $banner-bg;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;

  .content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;

    &-home {
      .text-box {
        flex: 1;
        z-index: 2;

        .content-text-box {
          max-width: 600px;
          margin: 0 auto;
          color: $white-color;
          h2 {
            font-size: 3rem;
            color: $white-color;
            text-align: center;
          }
          p {
            padding: 1rem;
          }
          button {
            margin: 1rem auto;
            display: block;
            border: none;
            outline: none;
            cursor: pointer;
            background-color: $primary-color;
            font-size: 1.2rem;
            padding: 1rem 1.5rem;
            transition: all 0.3s ease-in-out;
            &:hover {
              transform: scale(1.2);
              transition: all 0.7s ease-in-out;
            }
          }
        }
      }
      .img-box {
        height: 100vh;
        min-height: 1100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        z-index: 2;
        padding: 0;
        position: relative;
        img {
          position: absolute;
          bottom: 0;
          height: 100%;
        }
      }
    }
    &-about {
      display: flex;
      z-index: 2;
      .description {
        color: $white-color;
        order: 2;
        z-index: 2;
        h2 {
          padding: 2rem;
          text-align: center;
        }
        .skills {
          .item {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 2rem;
            i {
              font-size: 3rem;
              padding: 1rem;
            }
            p {
              font-size: 1rem;
              padding: 1rem;
            }
          }
        }
      }
      .image {
        order: 1;
        img {
          width: 100%;
        }
      }
    }
    &-group {
      width: 100%;
      height: 100%;
      position: relative;
      .swiper-container {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        z-index: 2;
        .swiper-slide {
          text-align: center;
          font-size: 18px;
          margin: auto;
          /* Center slide text vertically */
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          height: 80%;
          width: 550px;

          .type-img {
            width: 100%;
            flex: 2;
            background-color: grey;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              max-height: auto;
              width: auto;
              transform: scale(0.6);
              transition: all 0.3s linear;
              &:hover {
                transition: all 0.3s linear;
                transform: scale(0.5);
              }
            }
          }
          .type-footer {
            flex: 1;
            width: 100%;
            background-color: $white-bg-color;

            .type-name {
              padding: 1rem;
              font-size: 2rem;
            }
            .read-more {
              display: block;
              width: 50%;
              height: 4rem;
              border: 1px solid black;
              padding: 0.8rem;
              margin: 1rem auto;
              text-decoration: none;
              color: black;
              font-size: 1.5rem;
              position: relative;
              cursor: pointer;
              overflow: hidden;

              .reservation-paragraf {
                position: absolute;
                top: 50%;
                left: 50%;

                transform: translate(-50%, -50%);
              }
              i {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-200px, -50%);
              }
              &:hover {
                .reservation-paragraf {
                  animation: slide-up 0.3s linear forwards;
                }
                i {
                  animation: slide-right 0.3s linear forwards;
                }
              }
            }
          }
        }
        .swiper-pagination {
          .swiper-pagination-bullet {
            width: 22px;
            height: 22px;
            background: #fff;
          }
        }
      }
      #modal {
        display: none;
        position: fixed;
        z-index: 4;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
        background: $modal-bg;
        .modal-content {
          background-color: #f4f4f4;
          margin: 10% auto;
          padding: 1rem;
          width: 70%;
          animation: open-modal 1s;
          position: relative;
          #close-btn {
            position: absolute;
            top: 5px;
            right: 15px;
            font-size: 2rem;
            &:hover,
            &:focus {
              cursor: pointer;
              text-decoration: none;
            }
          }
          h1 {
            padding: 1rem;
          }
          p {
            padding: 2rem;
          }
        }
        &.block {
          display: block;
        }
      }
    }
    &-personal {
      height: 100%;

      .box {
        width: 100%;
        height: 100%;
        background: url(imgs/personal-bg.jpg) no-repeat center center;
        background-size: cover;
        position: relative;
        z-index: 2;
        &:after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.6);
        }
        .box-content {
          color: $white-color;
          width: 70%;
          height: 100%;
          margin: 0 auto;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          padding-top: 3rem;
          z-index: 2;

          .swiper-container {
            padding: 1rem 0 3rem 0;
            z-index: 2;
            .swiper-wrapper {
              .swiper-slide {
                h1 {
                  font-size: 3rem;
                  padding: 2rem;
                }
                p {
                  font-size: 1.2rem;
                }
                .slide-content {
                  display: flex;
                  flex-direction: row;
                  .item {
                    display: flex;
                    flex-direction: column;
                    i {
                      font-size: 3rem;
                      padding: 1rem;
                    }
                    p {
                      padding: 1rem;
                    }
                  }
                }
              }
            }
            .swiper-pagination {
              z-index: 3;
              .swiper-pagination-bullet {
                width: 22px;
                height: 22px;
                background: #fff;
              }
            }
          }
        }
      }
    }
    &-contact {
      width: 50%;
      flex-direction: column;
      margin: 0 auto;
      background: $white-bg-color;
      z-index: 2;
      padding: 2rem;

      form {
        width: 50%;
        margin-top: 1rem;
        font-size: 1rem;

        .form-group {
          .form-group-input-label {
            position: relative;
            overflow: hidden;

            input {
              width: 100%;
              height: 100%;
              padding-top: 2rem;
              font-size: 1.5rem;
              border: none;
              outline: none;
              &:focus + label .span-text,
              &:valid + label .span-text {
                transform: translateY(-120%);
                font-size: 1.2rem;
                color: $form-span-color;
              }
              &:focus + label:after,
              &:valid + label:after {
                transform: translateX(0%);
              }
            }
            label {
              position: absolute;
              font-size: 1.2rem;
              bottom: 0%;
              left: 0%;
              width: 100%;
              height: 100%;
              pointer-events: none;
              border-bottom: 1px solid $form-border-input-color;
              &::after {
                content: "";
                position: absolute;
                height: 100%;
                width: 100%;
                border-bottom: 3px solid $form-active-input-color;
                left: 0;
                bottom: -1px;
                transform: translateX(-100%);
                transition: all 0.4s ease-in-out;
              }
              .span-text {
                position: absolute;
                bottom: 0.19rem;
                font-size: 1.5rem;
                transition: all 0.3s ease;
              }
            }
          }
          .alert {
            padding: 0.4rem;
            margin-top: 1rem;
            text-align: center;
            opacity: 0;
            &-error {
              border: 1px solid $form-alert-error;
              color: $form-alert-error;
              border-radius: 5px;
              opacity: 1;
            }
          }
        }
        #alert-submit {
          padding: 0.4rem;
          margin-top: 1rem;
          text-align: center;
          opacity: 0;
          &.error {
            border: 1px solid $form-alert-error;
            color: $form-alert-error;
            border-radius: 5px;
            opacity: 1;
          }
          &.success {
            border: 1px solid $form-alert-success;
            color: $form-alert-success;
            border-radius: 5px;
            opacity: 1;
          }
        }

        button {
          display: block;
          width: 10rem;
          padding: 1rem 1.5rem;
          outline: none;
          border: none;
          cursor: pointer;
          font-size: 1.5rem;
          margin: 1rem auto;
          background-color: $primary-color;
        }
      }
    }
  }

  &:before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 375px;
    height: 100%;
    background: $primary-color;
    transform-origin: top;
    transform: skewX(-25deg);
    z-index: 1;
  }
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.15;
    pointer-events: none;
  }
}
.social {
  width: 300px;
  height: 100px;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 300px;
    li {
      flex: 1;
      list-style: none;
      padding: 1rem;

      a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        text-decoration: none;
        color: $white-color;
        cursor: pointer;
        i {
          &:hover {
            &.facebook {
              color: $fb-color;
            }
            &.twitter {
              color: $twitter-color;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .container {
    min-height: 1600px;
    .content {
      flex-direction: column;
      &-home {
        .text-box {
          margin: 110px auto;

          .content-text-box {
            max-width: 90%;
            button {
              width: 250px;
              font-size: 1.28rem;
              background-color: $white-bg-color;
            }
          }
        }
      }
      &-personal {
        .box {
          background-position: left;
          .box-content {
            width: 85%;
          }
        }
      }
      &-contact {
        width: 70%;
      }
    }
  }
}
@media (max-width: 768px) {
  header {
    .toggle {
      width: 40px;
    }
  }
  .navigation {
    #rel {
      width: 100vw;
    }
  }
  .container {
    padding: 0;
    .content {
      &-home {
        .text-box {
          margin: 110px auto;
        }
        .img-box {
          width: 100vw;
          img {
            height: 100%;
          }
        }
      }
      &-group {
        .swiper-container {
          height: 60%;
          top: 40%;
          .swiper-slide {
            .type-img {
              img {
                &:hover {
                  transform: scale(1.1);
                }
              }
            }
          }
        }
      }
      &-personal {
        .box {
          background-position: left;
          .box-content {
            width: 95%;
            .swiper-container {
              .swiper-wrapper {
                .swiper-slide {
                  h1 {
                    font-size: 2rem;
                  }
                  .slide-content {
                    flex-direction: column;
                  }
                }
              }
            }
          }
        }
      }
      &-contact {
        width: 85%;
        form {
          width: 70%;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  header {
    .logo {
      span {
        color: $white-color;
      }
    }
  }
  .container {
    min-height: 1000px;
    padding: 0;
    .content {
      &-home {
        .text-box {
          margin: 650px auto 0px;
          width: 100%;
          .content-text-box {
            width: 100%;
            max-width: 100vw;
            margin: none;

            h2 {
              font-size: 2rem;
            }
          }
        }
        .img-box {
          img {
            position: absolute;
            bottom: 35%;
            height: 60%;
          }
        }
      }
      &-about {
        .description {
          h2 {
            font-size: 2rem;
          }
          .skills {
            .item {
              padding: 1rem 0;
            }
          }
        }
        img {
          display: none;
        }
      }
      &-group {
        .swiper-container {
          height: 60%;
          top: 35%;
          .swiper-slide {
            width: 100vw;
            .type-img {
              img {
                &:hover {
                  transform: scale(1.1);
                }
              }
            }
            .type-footer {
              .read-more {
                width: 70%;
                font-size: 1rem;
              }
            }
          }
        }
        #modal {
          .modal-content {
            width: 90%;
          }
        }
      }
      &-personal {
        .box {
          .box-content {
            align-items: flex-start;
            .swiper-container {
              .swiper-wrapper {
                .swiper-slide {
                  h1 {
                    font-size: 2rem;
                  }
                  .slide-content {
                    flex-direction: column;
                    .item {
                      i {
                        font-size: 1.5rem;
                        padding: 0.5rem;
                      }
                      p {
                        font-size: 0.8rem;
                        padding: 0;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      &-contact {
        width: 100%;
        form {
          width: 80%;
        }
      }
    }
  }
}
@media (max-width: 320px) {
  .container {
    .content {
      &-personal {
        .box {
          .box-content {
            align-items: flex-start;
            .swiper-container {
              .swiper-wrapper {
                .swiper-slide {
                  h1 {
                    font-size: 1.5rem;
                  }
                  p {
                    font-size: 1rem;
                  }
                  .slide-content {
                    flex-direction: column;
                    .item {
                      i {
                        font-size: 1rem;
                        padding: 0.5rem;
                      }
                      p {
                        font-size: 1rem;
                        padding: 0;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      &-contact {
        width: 100%;
        form {
          width: 95%;
        }
      }
    }
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1000px);
  }
}
@keyframes slide-up {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, -250%);
  }
}
@keyframes slide-right {
  0% {
    transform: translate(-200px, -50%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
@keyframes open-modal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
