@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow: hidden;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
  padding: 1rem 2rem;
  overflow: hidden;
}

header .logo {
  position: relative;
  font-size: 2rem;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
}

header .logo span {
  color: #37d72f;
}

header .toggle {
  height: 60px;
  width: 60px;
  position: relative;
  cursor: pointer;
}

header .toggle .bar-one {
  position: absolute;
  content: "";
  top: 20px;
  width: 100%;
  height: 5px;
  background-color: #ffffff;
}

header .toggle .bar-two {
  position: absolute;
  content: "";
  top: 30px;
  width: 100%;
  height: 5px;
  background-color: #ffffff;
}

header .toggle .bar-three {
  position: absolute;
  content: "";
  top: 40px;
  width: 100%;
  height: 5px;
  background-color: #ffffff;
}

header .toggle-close {
  height: 60px;
  width: 60px;
  position: relative;
  cursor: pointer;
}

header .toggle-close .bar-one {
  top: 30px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .toggle-close .bar-two {
  display: none;
}

header .toggle-close .bar-three {
  top: 30px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#navigation {
  position: absolute;
  top: 9;
  right: 0;
  height: 100vh;
  width: 400px;
  background: #111;
  z-index: 100;
  -webkit-transform: translateX(1000px);
          transform: translateX(1000px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navigation ul {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}

#navigation ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

#navigation ul li a {
  text-decoration: none;
  font-size: 2rem;
  color: #ffffff;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navigation ul li:hover {
  background-color: #2b2b2b;
  cursor: pointer;
}

.menu-slide-in {
  -webkit-animation: slide-in 1s ease-in-out forwards;
          animation: slide-in 1s ease-in-out forwards;
  overflow: hidden;
}

.menu-slide-out {
  -webkit-animation: slide-out 0.5s ease-in-out forwards;
          animation: slide-out 0.5s ease-in-out forwards;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100%;
  padding: 0 100px;
  background: #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.container .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
}

.container .content .text-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 auto;
  text-align: center;
  z-index: 2;
}

.container .content .text-box .content-text-box {
  max-width: 600px;
  margin: 0 auto;
}

.container .content .text-box .content-text-box h2 {
  padding: 1rem;
  color: #ffffff;
  font-size: 3rem;
}

.container .content .text-box .content-text-box p {
  color: #ffffff;
  font-size: 2rem;
  margin: 2rem auto 3rem auto;
  z-index: 112;
}

.container .content .text-box .content-text-box a {
  display: block;
  width: 50%;
  margin: 0 auto;
  background: #ffffff;
  color: #111;
  text-decoration: none;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1rem 1.5rem;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.container .content .text-box .content-text-box a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.container .content .img-box {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  z-index: 5;
  padding: 0;
  position: relative;
}

.container .content .img-box img {
  position: absolute;
  bottom: 0;
  height: 90%;
}

.container:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 375px;
  height: 100%;
  background: #37d72f;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: skewX(-25deg);
          transform: skewX(-25deg);
  z-index: 1;
}

.container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.15;
  pointer-events: none;
}

.container .social {
  position: absolute;
  left: 50%;
  bottom: 1rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1000;
}

.container .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
}

.container .social ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  list-style: none;
  padding: 1rem;
}

.container .social ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.container .social ul li a i:hover.facebook {
  color: #3b5998;
}

.container .social ul li a i:hover.twitter {
  color: #00acee;
}

@media (max-width: 1500px) {
  header {
    padding: 20px 50px;
  }
  .container {
    padding: 1rem 1rem 0 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container:before {
    -webkit-transform: skweX(-25deg) translateX(50%);
            transform: skweX(-25deg) translateX(50%);
  }
  .container .content .text-box h2 {
    font-size: 2rem;
    padding: 0.2rem;
  }
  .container .content .text-box p {
    font-size: 3rem;
  }
  .container .content .text-box a {
    padding: 1rem 0.6rem;
    font-size: 1rem;
  }
  .container .img-box img {
    height: 100%;
  }
}

@media (max-width: 1024px) {
  body {
    overflow: hidden;
  }
  header .logo span {
    color: #ffffff;
  }
  .navigation {
    width: 100%;
  }
  .navigation ul {
    width: 100%;
  }
  .container {
    min-height: 100vh;
  }
  .container .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .content .text-box {
    margin-top: 30%;
    padding: 2rem;
  }
}

@media (max-width: 500px) {
  .container {
    min-height: 100vh;
  }
  .container .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .content .text-box {
    margin-top: 30%;
    padding: 2rem;
  }
  .container .content .text-box .content-text-box h2 {
    font-size: 1.5rem;
  }
  .container .content .text-box .content-text-box p {
    font-size: 1rem;
  }
  .container .content .text-box .content-text-box a {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  .container {
    min-height: 100vh;
  }
  .container .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .content .text-box {
    margin-top: 30%;
    padding: 0.5rem;
  }
  .container .content .text-box .content-text-box h2 {
    font-size: 1.5rem;
  }
  .container .content .text-box .content-text-box p {
    font-size: 1rem;
  }
  .container .content .text-box .content-text-box a {
    font-size: 1.2rem;
    padding: 0.6rem 1.2rem;
  }
}

@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-in {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
}

@keyframes slide-out {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
}
/*# sourceMappingURL=style.css.map */